main{
    width: 100%;
    padding: 20px;
}
.sidebarAdmin{
    background: #4E4E4E;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s; 
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.name{
    font-size: 100%;

}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    justify-content: end;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:#38A5AD;
    color: #fff;
    transition: all 0.5s;
}
.active{
    background: #38A5AD;
    color: #fff;
}
.icon, .link_text{
    font-size: 20px;
}

.navbar-admin{
    background-color: #38A5AD;
}

.img-profileAdmin{
    display: flex;
    justify-content:center;
    border-radius: 100% !important;
    overflow:hidden;
    border: 2px solid #fff;
    height: 3.5em;
   
}

.img-profileAdmin > img{
    height: 3.5em;
    width: 3.5em;
}