.navigasi > .navbar > .navbar-nav > .nav-item > .nav-link{
    width: 150px;
}


.description{
    text-align:justify;
    display:none;
  }
  
  .description:target{
    display:block;
  }


  .list-modul {
    font-size: large;
    margin: 5px 5px 5px 5px;
  }

  .list-modul >  li{
    margin-top: 10px ;
  }

  .sidebar{
    border: .5px solid black !important;
    height: 100%;
    padding: 5px 5px 5px 5px;
   
  }

  .list-modul >  li > a{
  color: #000;
  }

  .the-modul {
    margin-left: 15px;
    border:  1px black solid;
    width: 100%;
    padding: 5px 5px 5px 5px;
  }