
.nav-course {
    margin-top: 8%;
}

p {
    font-size: 14px;
    margin: auto;
}

#line-course {
    border: none;
    background-color: #000;
    height: 3px;
    margin-top: 1.2%;
    margin-bottom: 3%;
}

.body-course button {
    background-color: #38A5AD;
    color: #fff;
    border-style: none;
    border-radius: 3px;
    font-weight: bold;
    width: 10em;
    height: 2.5em;
    /* margin-top: 4%;
    margin-left: 80px; */
}

.body-course h5 {
    font-weight: bold;
    font-size: medium;
    margin-top: auto;
    width: 250px;
}

#btn-course {
    background-color: #EFD100;
    color: #000;
    border-style: none;
    border-radius: 3px;
    font-weight: bold;
    width: 170px;
    height: 2.5em;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 2%;
}

#img-sec1 {
    margin-bottom: 3%;
    border-radius: 7px;
}

.body-course h6 {
    color: #B1B1B1;
    font-size: 13px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: auto;
}

.body-course h4 {
    font-size: larger;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

#price {
    margin-left: 30%;
    margin-top: 5%;
    font-size: 18px;
}

#numbering {
    margin-left: 28%;
}

#action-profile {
    width: max-content;
}

#action-password {
    width: max-content;
}

.nav-course h4 {
    font-size: 22px;
    font-weight: 700;
    /* margin-bottom: 1%; */
    margin-left: 1%;
}

#detail-text {
    margin-left: 1%;
    width: 50%;
}

#slide {
    background-color: #fff;
    color: #000;
}