.line-horizontal {
    border: none;
    background-color: #000;
    height: 2px;
    margin-top: 3%;
    margin-left: 100px;
    margin-right: 100px;
}

.footer-section {
    margin-left: 50px;
}

.comdev {
    margin-top: 30px;
    margin-left: 50px;
    width: 20%;
}

.table-content {
    margin-left: 80px;
}

.table-content ul {
    list-style-type: none;
    margin-left: -10px;
}

.table-content ul li a {
    text-decoration: none;
}

.copyright {
    margin-left: 80px;
}

/* @media (max-width: 992px) {
    .line-horizontal {
        margin-left: 120px;
        margin-right: 40px;
    }

    .footer-section {
        margin-left: 120px;
    }
} */

@media (max-width: 992px) {
    .line-horizontal {
        margin-left: 0px;
        margin-right: -500px;
    }

    .footer-section {
        margin-left: 5px;
        font-size: 20px;
    }

    .comdev {
        width: 50%;
        margin-left: 10px;
    }

    .table-content {
        margin-left: 20px;
        padding-top: 5px;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .table-content h5 {
        font-size: 25px;
    }

    .copyright {
        margin-left: 23px;
    }


}