@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.text-login {
    margin-left: 38px;
}

figure.bg1 {
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
}

.style-img {
    width: 60%;
}



@media (min-width: 992px) {

    /* Desktop */
    .login-body {
        margin-top: 100px;
    }

    figure.bg1 {
        position: absolute;
        top: 0px;
        right: 700px;
        bottom: -90px;
        left: 0px;
        padding: 0;
        text-align: justify;
    }

    .style-img {
        margin-top: 250px;
        width: 80vh;
    }

}



/* .login-body h2 {
    font-family: 'Gordita', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 550;
    line-height: 42px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
} */

.login-body h3 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}

/* #formUsername {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
}

#formPassword {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
} */

#formInput {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
}

#term {
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    margin-bottom: 30px;
    margin-top: 20px;
}

.login-body #button-masuk {
    color: #ffffff;
    background: #38A5AD;
    width: 328px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.login-body .btn-google {
    color: #000000;
    background-color: #ffffff;
    width: 328px;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}

.btn-google img {
    margin-right: 10px;
    margin-bottom: 3px;
}

.btn-primary:not([disabled]):not(.disabled).active #button-masuk,
.btn-primary:not([disabled]):not(.disabled):active #button-masuk,
.btn-primary:not([disabled]):not(.disabled).hover #button-masuk,
.btn-primary:not([disabled]):not(.disabled)#button-masuk:hover {
    color: #38A5AD !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.btn-primary:not([disabled]):not(.disabled).active .btn-google,
.btn-primary:not([disabled]):not(.disabled):active .btn-google,
.btn-primary:not([disabled]):not(.disabled).hover .btn-google,
.btn-primary:not([disabled]):not(.disabled).btn-google:hover {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
}