@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.text-or {
    text-align: center;
}

.text-regis {
    width: 300px;
    font-size: small;
    margin-left: 3.8%;
}

figure.bg1 {
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;


}

.style-img {
    width: 60%;
}

.bungkus_regis {
    width: 720px;
    height: 100%;
}


@media (min-width: 992px) {

    /* Desktop */
    .login-body {
        margin-top: 80px;
    }

    figure.bg1 {
        position: absolute;
        top: 0px;
        right: 700px;
        bottom: -90px;
        left: 0px;
        padding: 0;
        text-align: justify;
        height: 625px;
    }

    .style-img {
        margin-top: 250px;
        margin-left: 3rem;
        width: 70vh;
    }

}


/* .login-body h2 {
    font-family: 'Gordita', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 550;
    line-height: 42px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
} */

.login-body h3 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}

/* #formUsername {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
}

#formPassword {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
} */

#formInputUsername {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 100%;
}

#formInputPass {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 215%;
}

#term {
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    margin-bottom: 30px;
    margin-top: 20px;
}

#btn-pass {
    color: #000000;
    background-color: transparent;
    border: none;
    padding: 0.2rem 0.1rem;
    font-size: 1.2rem;
    outline: none;
    margin-left: 50%;
    margin-left: 75%;
    cursor: pointer;
}

.lupa-pass {
    margin-left: 10%;
}

.login-body #button-masuk {
    color: #ffffff;
    background: #38A5AD;
    width: 328px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.login-body #google-login {
    color: #000000;
    background-color: #ffffff;
    width: 328px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-primary:not([disabled]):not(.disabled).active #button-masuk,
.btn-primary:not([disabled]):not(.disabled):active #button-masuk,
.btn-primary:not([disabled]):not(.disabled).hover #button-masuk,
.btn-primary:not([disabled]):not(.disabled)#button-masuk:hover {
    color: #fff !important;
    background-color: #1b5357 !important;
    border-color: #ffffff !important;
}

/* .btn-primary:not([disabled]):not(.disabled).active .btn-google,
.btn-primary:not([disabled]):not(.disabled):active .btn-google,
.btn-primary:not([disabled]):not(.disabled).hover .btn-google,
.btn-primary:not([disabled]):not(.disabled).btn-google:hover {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
} */