@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar {
    font-family: 'Open Sans', sans-serif !important;
}

.searchBar {
    flex-grow: 2;
    width: 165px !important;
    /* And hide the input's outline, so the form looks like the outline */
    border: none !important;
}

.logo {
    width: 15%;
}

.nav-link.btn {
    margin-top: 15px;
}

.form {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
    margin-left: -8px;

    /* This bit draws the box around it */
    border: 1px solid grey;
    border-radius: 15px;

    /* I've used padding so you can see the edges of the elements. */
    padding: 2px;
}



input:focus,
input.form-control:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.buttonSearch {
    /* Just a little styling to make it pretty */
    background-color: #fff !important;
    border: none !important;
    padding: 0 !important
}

.oldGreen {
    background-color: #38A5AD !important;
}

.profile img {
    margin-left: 450%;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: rgb(240, 45, 45);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 15px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1 px solid #000;
}

.dropdown-menu ul li:hover a {
    color: rgb(31, 218, 231);
    cursor: pointer;
}

.dropdown-menu ul li:hover img {
    opacity: 1;
    cursor: pointer;
}

.dropdown-item {
    display: flex;
    margin: 10px auto;
}


@media (min-width: 1024px) {
    .searchBar {
        width: 400px !important;
    }

    .form {
        margin-left: 0;
    }

    .logo {
        width: 5.5%;
    }

    .nav-link {
        margin-left: 24px;
    }

    .nav-link.btn {
        margin-top: 0;
    }
}