.section1 {
    margin-top: 8%;
}

.me-auto #isi-nav {
    font-weight: bold;
    color: #000;
}

.line-style {
    border-style: solid;
    background-color: #000;
    margin-top: 8px;
    margin-left: 100px;
    margin-right: 100px;
}