.navigasi {
    margin-top: 8%;
}

#btn-profile {
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

#btn-password {
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.line-style {
    background-color: #000;
    border: none;
    height: 2px;
    margin-top: 1px;
    margin-left: 100px;
    margin-right: 100px;
}

.form-input-profile {
    margin-left: 7.5%;
    margin-top: 20x;
}

.text {
    text-align: justify;
}

.form-input-profile #formInput {
    width: 50%;
}

.label {
    color: #000;
    font-weight: bold;
}

.btn.btn-primary.btn-submit {
    background-color: #38A5AD;
    border: none;
    color: #ffffff;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.btn.btn-primary.btn-submit:hover {
    background-color: #5ac0c7;
}

.btn.btn-primary.btn-upload-foto {
    border-radius: 0%;
    border: none;
    padding: 6px 12px;
    background-color: #EFD100;
    text-align: center;
    width: 120px;
    font-weight: bold;
}

.btn.btn-primary.btn-upload-foto:hover {
    background-color: #f7f03b;
}

.active{
    color: #fff !important;
    background-color:  #38A5AD !important;
}

.change-password {
    margin-left: 11.5%;
    width: 50%;
}