body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#carousel-section .carousel-control-prev .carousel-control-prev-icon {
  border-radius: 100%;
  border: 1px solid #000;
  background-size: 50% 50%;
}

#carousel-section .carousel-control-prev .carousel-control-prev-icon:hover {
  background-color: #000;
  border: 0;
}

#carousel-section .carousel-control-next .carousel-control-next-icon {
  border-radius: 100%;
  border: 1px solid #000;
  background-size: 50% 50%;
}

#carousel-section .carousel-control-next .carousel-control-next-icon:hover {
  background-color: #000;
  border: 0;
}